.container-fluid {
  margin: 0;
  padding: 32px 0 0;

  
  .bookmarks-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
  }
}

.favoritos {
  text-align: justify;
  font-size: 30px;
  font-family: Verdana, sans-serif;
  color: rgb(96, 96, 223);
}